* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    border-radius: 10px;
    background-color: black;
    color: rgb(216, 216, 216);
    padding: 5px;
    text-align: center;
}

main {
    max-width: calc(100%-200px);
    margin-left: 200px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-color: rgb(232, 230, 230);
    text-align: justify;
}

nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.navbar a:hover {
    background-color: #555;
}

.nav-item {
    color: white;
}

.submenu a {
    font-size: 12;
    color: rgb(168, 168, 168);
}

.nav-item {
    left: 0;
}

index>ul {
    font-size: larger;
}

.code {
    border-radius: 10px;
    background-color: black;
    color: white;
    width: fit-content;
}

.header {
    background-color: #333;
    color: white;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 14px;
    font-weight: bold;
    color: rgb(182, 182, 182);
    user-select: none;
}

.copy-button {
    background-color: #333;
    border: none;
    color: rgb(182, 182, 182);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.copy-button:hover {
    color: eee;
}

.content {
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.comment {
    color: rgb(143, 143, 143);
}

.tab{
    padding-left: 40px;
}

.red {
    color: rgb(255, 86, 111);
}

.yellow {
    color: rgb(255, 201, 119);
}

.green {
    color: rgb(75, 160, 121);
}

.blue {
    color: rgb(107, 161, 255);
}

.transparent{
    color: transparent;
}

a {
    font-weight: bold;
}

a:href {
    color: rgb(74, 74, 246);
}

.section {
    background-color: black;
    color: rgb(216, 216, 216);
    padding: 10px;
    margin: inherit;
    border-radius: 5px;
    font-size: 30;
}

ol li::marker {
    font-weight: bold;
    color: grey;
}
